# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
ENV/
.env/

# Uploads
src/my_project/uploads/*
!src/my_project/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
